.hashtagList {
	border: 1px solid #3a444c;
}
.hashtagItem {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 9px 14px;
}
.hashtagItem a {
	font-weight: 700;
	margin-bottom: 5px;
}

.title {
	padding: 15px;
	margin: 0;
}

.hashtagList > * {
	border-bottom: 1px solid #3a444c;
}
.hashtagList > *:last-child {
	border-bottom: none;
}

.btn a {
	margin-bottom: 0;
	color: #ffb800;
	font-size: 14px;
	padding: 6px 0;
	width: 100%;
}

/*

.btn_Show_More {
	color: #ffb800;
	font-size: 14px;
}


*/
