body {
	background-color: #000000;
	color: #fff;

	font-family: 'Manrope', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
a {
	color: #fff;
	text-decoration: none;
}
a.active {
	color: #ffb800;
}

.layout {
	display: flex;
	max-width: 1500px;
	padding: 0 15px;
	margin: 0 auto;
	height: 100vh;
}

.navBar {
	margin-right: 50px;
	margin-top: 20px;
}
main {
	flex: 1 1 auto;
	background: #3a444c;
}
.sidebar {
	margin-top: 20px;
	margin-left: 30px;
	width: 346px;
}
.content {
	background: url('../public/404.png') center no-repeat #262626;
}
